* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 250, 245, 1);
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    color: var(--primary-color);

    min-width: 117px;
    height: var(--height);
    padding: 0;

    border-radius: 999px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* ================== Header ================= */
.header {
    background: #fffaf5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    padding-top: 26px;
}

.navbar__list {
    display: flex;
    column-gap: 36px;
}
.navbar__item {
    position: relative;
}

.navbar__item::after {
    content: "";
    position: absolute;

    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;

    border-radius: 50%;
    background: var(--primary-color);
    transform: scale(0);
    transition: transform 0.2s linear;
}

.navbar__item:hover::after {
    transform: scale(1);
}

.navbar__item:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link {
    font-size: 1.4rem;
    color: #5e6085;
}

.btn__signup {
    height: 50px;
    color: #000958;

    font-size: 1.4rem;
    font-weight: 600;
    border-color: #000958;
    background-color: inherit;

    transition: color, border 0.3s, background-color 0.3s;
}

.btn__signup:hover {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
}

/* === Hero === */
.hero {
    display: flex;
    margin-top: 100px;
    padding-bottom: 194px;
}

.hero__images {
    position: relative;
}

.hero__img-wrap {
    z-index: 2;
    position: absolute;
    width: 388px;
    height: 488px;
    background: #fe997b;

    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero__img-decor-right {
    z-index: 1;
    position: absolute;
    left: 376px;
    top: 16px;
}

.hero__img-decor-left {
    position: absolute;
    left: -58px;
    top: 248px;
}

.hero__img-right {
    z-index: 2;
    padding-top: 24px;
    position: absolute;

    left: 365px;
    top: 302px;

    border-radius: 16px;
    border: 2px solid #fff;
    background: #faa7ad;
}

/* Hero Info */
.hero__info {
    z-index: 4;
    position: absolute;
    width: 250px;
    padding: 20px 18px;
    left: 128px;
    top: 426px;

    background: #fff;
    border-radius: 8px;
    box-shadow: -10px -10px 16px rgba(0, 0, 0, 0.07);
}

.hero__item {
    display: flex;
}

.hero__item-content {
    margin-left: 10px;
    width: 118px;
}

.hero__item-heading {
    margin-top: 2px;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: left;
}

.hero__item-line {
    height: 4px;
    background: var(--heading-color);
    border-radius: 999px;
    opacity: 8%;
}

.hero__item-line-long {
    margin-top: 7px;
    width: 100%;
}

.hero__item-line-short {
    margin-top: 6px;
    width: 33%;
}

.hero__item-line-between {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #999;
}

/* Hero Content */
.hero__content {
    margin-left: auto;
    width: 44%;
}

.hero__heading {
    margin-top: 70px;
    color: var(--heading-color);

    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    font-family: "Sora", sans-serif;
}

.hero__desc {
    margin-top: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #656689;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    min-width: 190px;
    height: 60px;

    font-weight: 600;
    background: var(--primary-color);
}

.hero__btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #fd5056;
    font-size: 0.7rem;

    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.hero__btn-desc {
    color: var(--heading-color);
    margin-left: 24px;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.hero__btn-desc:hover {
    opacity: 0.8;
}

/* ================== About Us ================= */
.about {
    padding-top: 38px;
    background: #fffaf5;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 54px 0;
    row-gap: 146px;
}

.about__content {
}

.about__sub-title {
    display: block;
    margin-top: 76px;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(94, 96, 133, 1);
}

.about__heading {
    width: 444px;
    margin-top: 15px;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    color: var(--heading-color);
}

.about__desc {
    width: 444px;
    margin-top: 24px;
    color: #656689;
    font-weight: 400;
    line-height: 3rem;
    font-size: 1.6rem;
}

/* === Checkbox === */
.about__checkbox-wrap {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 36px;
    white-space: nowrap;
}

.about__form-group {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.about__checkbox > label {
    position: relative;
    display: flex;
    align-items: center;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: left;
    color: #48496a;
}

.about__checkbox > label:hover {
    opacity: 0.9;
    cursor: pointer;
}

.about__checkbox > label::before,
.about__checkbox > label::after {
    content: "";
    display: inline-block;
}

.about__checkbox > label::before {
    margin-right: 10px;
    width: 24px;
    height: 24px;

    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.2);
}

.about__checkbox [type="checkbox"]:checked ~ label::before {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.about__checkbox [type="checkbox"]:checked ~ label::after {
    position: absolute;
    top: 7px;
    left: 7px;

    width: 12px;
    height: 8px;

    rotate: -45deg;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.about__images {
    position: relative;
    height: 558px;
    flex: 1;
}

.about__images::after {
    position: absolute;
    content: "";
    display: inline-block;
    z-index: 2;

    bottom: 0;
    right: 0;

    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px #ff9b791f;
}

.about__img-hero {
    position: absolute;
    z-index: 3;
    margin-top: 6px;

    bottom: 0;
    right: 24px;
}

.about__img-decor {
    position: absolute;
    z-index: 1;
    top: 160px;
    right: -52px;
}

.about__exp {
    z-index: 4;
    position: absolute;
    bottom: 238px;
    right: 454px;

    padding: 30px 26px;
    width: 136px;
    min-height: 156px;
    border-radius: 10px;

    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
}

.about__exp-decor {
    position: absolute;
    top: -40px;
    right: -34px;
}

.about__exp-heading {
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.about__exp-desc {
    display: inline-block;
    color: #c6f4f9;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

.about__images-bottom::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    background: rgba(164, 204, 238, 1);
    border: 2px solid #fff;
}

.about__img {
    position: absolute;
    z-index: 3;
    height: 498px;
    left: 2px;
}

/* About Decor */
.about__decor {
    position: absolute;
}

.about__decor img:nth-of-type(1) {
    z-index: 5;
    top: 438px;
    left: 376px;
}

.about__decor img:nth-of-type(2) {
    z-index: 5;
    width: 54px;

    top: 42px;
    left: 430px;
}

.about__decor img:nth-of-type(3) {
    z-index: 5;
    width: 18px;
    top: -12px;
    left: 424px;
}

.about__decor img:nth-of-type(4) {
    z-index: 5;
    width: 8px;
    top: 14px;
    left: 392px;
}

.about__decor img:nth-of-type(5) {
    width: 24px;
    top: 268px;
    left: 468px;
}

.about__decor img:nth-of-type(6) {
    z-index: 5;
    width: 12px;
    top: 336px;
    left: 427px;
}

.about__heading-bottom,
.about__desc-bottom {
    width: 516px;
}

.about__heading-bottom {
    margin-top: 36px;
}

/* Tab List */

.tab__list {
    display: inline-flex;
    margin-top: 52px;
    column-gap: 56px;
    position: relative;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;

    border-radius: 1px;
    background: rgba(255, 91, 46);
    opacity: 0.07;
}

.tab__item-active::after {
    position: absolute;
    width: 100px;
    opacity: 1;
    background: rgba(255, 91, 46, 1);
}

.tab__item {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 12px;
    padding-bottom: 10px;
}

.tab__item:hover {
    cursor: pointer;
}

.tab__item:first-child .tab__icon {
    margin-top: -4px;
}

.tab__icon {
    width: 20px;
}

.tab__item-desc {
    font-family: Sora;
    font-size: 1.8rem;
    color: rgba(72, 73, 106, 1);
    font-weight: 600;
    line-height: 1;
}

.tab__content-item {
    display: none;
    padding: 36px 0;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 390px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(101, 102, 137, 1);
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;

    color: var(--primary-color);
}

.tab__content-more::after {
    bottom: -5px;
    height: 1.5px;
    width: 86px;
    opacity: 1;
}

/* ================== Service ================= */
.services {
    margin-top: 86px;

    background: rgba(255, 246, 237, 1);
}

.service__inner {
    padding: 68px 0 100px;
}

.service__titile-desc {
    font-family: Sora;
    color: #5e6085;

    font-weight: 600;
    text-align: center;
}

.service__heading {
    color: var(--heading-color);
    margin-top: 15px;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    text-align: center;
}

/* Service List */
.service__list {
    display: grid;
    grid-template-columns: 294px auto 294px;
    column-gap: 70px;
    margin-top: 32px;
}

.service__item {
}

.service__item-wrap ~ .service__item-wrap {
    margin-top: 24px;
}

.service__item-wrap {
    padding: 30px 28px;

    background: #fff;
    border: 2px solid #ffbc7a42;
    border-radius: 10px;
}

.service__item-heading {
    position: relative;
    color: var(--heading-color);

    margin-left: 12px;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
}

.service__item-heading::before {
    position: absolute;
    display: inline-block;
    content: "";

    top: 0;
    left: -12px;
    width: 2px;
    height: 100%;
    border-radius: 1px;
    background: var(--primary-color);
}

.service__item-desc {
    color: #656689;

    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
}

.service__item-btn {
}

.service__item-more {
    display: inline-block;
    color: #34396a;
    margin-top: 24px;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;
}

.service__item-arrow {
    color: var(--primary-color);
    margin-left: 6px;
    font-size: 1rem;
    rotate: -45deg;
}

.service__item-middle {
    position: relative;
    height: 612px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.service__item-img {
    position: absolute;
    top: 19px;
}

.service__item-bg {
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__btn {
    display: block;
    min-width: 214px;
    margin: 45px auto 0;
    transition: background 0.2s, color 0.2s;
}

.service__btn:hover {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
}
